<h1 class="Heading2">Dev Feeds</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5 class="index_story_title">{{title}}</h5>
                <p class="index_story_text">{{stripTags (truncate body 150)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="images-avatar">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn purple">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p class="no-story">No Such Stories Available</p>
    {{/each}}
</div>